<p hidden>
   # file: footer.html<br>
   # description: contains footer information to show class, assignment, author, and disclaimer.<br>
   # author: Group 794<br>
   # date: Nov. 17, 2021<br>
   # notes:<br>
   #   - referenced:<br>
   #       - past assignments from CST438 Softwware Engineering and CST336 Internet Programming
</p>
<div id="footer-buffer"></div>
<footer>
   <div id="footer-div">
       <img id="img-csumb-logo" src="/static/images/CSUMB-Logo-White.png" alt="CSUMB school logo">
       <span id="footer-disclaimer">
           CST205 Multimedia Design & Progmng. 2021&copy; Kondo, Kufer, Dolton, Seliya<br>
           Final Project: Movie Social<br>
           Movie information powered by python lib: <a href="https://pypi.org/project/tmdbv3api/">tmdbv3api</a> for <a href="https://www.themoviedb.org/documentation/api">The Movie Database</a><br>
           <strong>Disclaimer:</Strong> The information in this webpage is for educational purposes only.
       </span>
   </div>
</footer>