<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie Social</title>
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
<body>
    <header>
        <h1>testing for connection:</h1>
    </header>
    <div class="main">
        {% block content %}
        {% if username != None %}
            <h2>hello {{ username }}!</h2>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <br>
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
        {% endblock %}
    </div>
    {% include "footer.html" %}
</body>
</html>