<form method="POST" action="/profile_edit/{{user['name']}}">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            <td>{{ form.username(size=50) }}</td>
        </tr>

        <tr>
            <td><label for="kind">Account type:</label></td>
            <td>
                {{ form.kind() }}
            </td>
        </tr>

        <tr>
            <td><label for="about_me">About me:</label></td>
            <td>{{ form.about_me() }}
                <!--textarea name="about_me" rows="10" cols="30">{{user['about']}}</textarea-->
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>