<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie Social</title>
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
<body>
    <header>
        <div class="d-flex justify-content-between">
            <h1>Search for Movies</h1>
            <div>
                {% block content %}
                {% if username is not none %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </header>

    <nav>
        {% with name=username %}
            {% include "nav.html"%}
        {% endwith %}
    </nav>

    <div id="search" class="main">
        <form>
            Title: <input type="text" id="title">
            Director: <input type="text" id="director">
            Year from: <input type="number" id="yearStart">
            Year to: <input type="number" id="yearEnd">
            Genre: <input type="text" id="genre">
            Description: <input type="text" id="description">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    {% include "footer.html" %}
</body>
</html>