<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie Social</title>
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
<body>
    <header>
        <div class="d-flex justify-content-between">
            <h1>Search for Movies</h1>
            <div>
                {% block content %}
                {% if username is not none %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </header>

    <nav>
        {% with name=username %}
            {% include "nav.html"%}
        {% endwith %}
    </nav>

    <div id="search" class="main">
         {% include "search_form.html" %}
    </div>

    {% include "footer.html" %}
</body>
</html>
