<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie Social</title>
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="d-flex justify-content-between">
                <h1>Edit Profile:</h1>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </header>

        {% with name=user['username'] %}
            {% include "nav.html"%}
        {% endwith %}

        <table>
            <tr>
                <td><h2 for="username">Username:</h2></td>
                <td>{{user['username']}}</td>
            </tr>

            <tr>
                <td><h2 for="account type">Account type:</h2></td>
                <td>{{user['kind']}}</td>
            </tr>

            <tr>
                <td><h2 for="about me">About me:</h2></td>
                <td>{{user['about']}}</td>
            </tr>

            <tr>
                <td></td>
                <td><a class="btn btn-primary" href="{{ url_for('edit_profile', name=user['username']) }}">Edit</a></td>
            </tr>
        </table>

        {% include "footer.html" %}
    </body>
</html>