<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie Social</title>
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
<body>
    <header>
        <div class="d-flex justify-content-between">
            <h1>Review <i>{{movie.title}}</i>:</h1>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </header>

    <nav>
        {% with name=user %}
            {% include "nav.html"%}
        {% endwith %}
    </nav>

    {% include "review_form.html" %}

    {% include "footer.html" %}
</body>
</html>